@import './base.css';

@layer components {
  @layer utilities {
    .animated {
      @apply transition-all duration-200 ease-in-out;
    }

    .right-shadow::after {
      content: '';
      @apply absolute top-0 right-[-1px] w-[1px] h-full pointer-events-none bg-gray-200;
    }

    .dark .right-shadow::after {
      @apply bg-neutral-700;
    }

    .after\:header-border-b::after {
      content: '';
      @apply absolute bottom-0 left-0 h-px w-full pointer-events-none bg-gray-200;
    }

    .dark .after\:header-border-b::after {
      @apply bg-neutral-700;
    }

    .disable-transitions * {
      transition: none !important;
    }
  }
}
